$dark-color: #071952;
$secondary-color: #088395;
$primary-color: #37b7c3;
$light-color: #ebf4f6;
$bg-color: (
  linear-gradient(
    41deg,
    rgba(107, 107, 107, 0.04) 0%,
    rgba(107, 107, 107, 0.04) 8%,
    rgba(31, 31, 31, 0.04) 8%,
    rgba(31, 31, 31, 0.04) 100%
  ),
  linear-gradient(
    9deg,
    rgba(228, 228, 228, 0.04) 0%,
    rgba(228, 228, 228, 0.04) 62%,
    rgba(54, 54, 54, 0.04) 62%,
    rgba(54, 54, 54, 0.04) 100%
  ),
  linear-gradient(
    124deg,
    rgba(18, 18, 18, 0.04) 0%,
    rgba(18, 18, 18, 0.04) 37%,
    rgba(233, 233, 233, 0.04) 37%,
    rgba(233, 233, 233, 0.04) 100%
  ),
  linear-gradient(
    253deg,
    rgba(201, 201, 201, 0.04) 0%,
    rgba(201, 201, 201, 0.04) 55%,
    rgba(47, 47, 47, 0.04) 55%,
    rgba(47, 47, 47, 0.04) 100%
  ),
  linear-gradient(
    270deg,
    rgba(172, 172, 172, 0.04) 0%,
    rgba(172, 172, 172, 0.04) 33%,
    rgba(26, 26, 26, 0.04) 33%,
    rgba(26, 26, 26, 0.04) 100%
  ),
  linear-gradient(
    64deg,
    rgba(11, 11, 11, 0.04) 0%,
    rgba(11, 11, 11, 0.04) 38%,
    rgba(87, 87, 87, 0.04) 38%,
    rgba(87, 87, 87, 0.04) 100%
  ),
  linear-gradient(
    347deg,
    rgba(199, 199, 199, 0.04) 0%,
    rgba(199, 199, 199, 0.04) 69%,
    rgba(4, 4, 4, 0.04) 69%,
    rgba(4, 4, 4, 0.04) 100%
  ),
  linear-gradient(
    313deg,
    rgba(36, 36, 36, 0.04) 0%,
    rgba(36, 36, 36, 0.04) 20%,
    rgba(91, 91, 91, 0.04) 20%,
    rgba(91, 91, 91, 0.04) 100%
  ),
  linear-gradient(90deg, rgb(10, 17, 72), rgb(35, 148, 228))
);
$bg-button: (
  linear-gradient(
    306deg,
    rgba(54, 54, 54, 0.05) 0%,
    rgba(54, 54, 54, 0.05) 33.333%,
    rgba(85, 85, 85, 0.05) 33.333%,
    rgba(85, 85, 85, 0.05) 66.666%,
    rgba(255, 255, 255, 0.05) 66.666%,
    rgba(255, 255, 255, 0.05) 99.999%
  ),
  linear-gradient(
    353deg,
    rgba(81, 81, 81, 0.05) 0%,
    rgba(81, 81, 81, 0.05) 33.333%,
    rgba(238, 238, 238, 0.05) 33.333%,
    rgba(238, 238, 238, 0.05) 66.666%,
    rgba(32, 32, 32, 0.05) 66.666%,
    rgba(32, 32, 32, 0.05) 99.999%
  ),
  linear-gradient(
    140deg,
    rgba(192, 192, 192, 0.05) 0%,
    rgba(192, 192, 192, 0.05) 33.333%,
    rgba(109, 109, 109, 0.05) 33.333%,
    rgba(109, 109, 109, 0.05) 66.666%,
    rgba(30, 30, 30, 0.05) 66.666%,
    rgba(30, 30, 30, 0.05) 99.999%
  ),
  linear-gradient(
    189deg,
    rgba(77, 77, 77, 0.05) 0%,
    rgba(77, 77, 77, 0.05) 33.333%,
    rgba(55, 55, 55, 0.05) 33.333%,
    rgba(55, 55, 55, 0.05) 66.666%,
    rgba(145, 145, 145, 0.05) 66.666%,
    rgba(145, 145, 145, 0.05) 99.999%
  ),
  linear-gradient(90deg, rgb(9, 201, 186), rgb(18, 131, 221))
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-image: $bg-button;
  color: $light-color;
  position: relative;
  width: 100%;
  min-width: 460px;
}

.section {
  padding-top: 10rem;
  padding-bottom: 2rem;
  width: 100%;
  min-width: 460px;
}
@media screen and (max-width: 768px) {
  .section {
    padding-top: 30rem;
  }
}
//**********************************//

// ~ Navbar ~
.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  border-bottom: 0.25rem solid $light-color;
  background-image: $bg-color;
  opacity: 0.9;
  backdrop-filter: blur(5px);
  &__logo {
    font-size: 6rem;
    padding: 0.05rem 0.25rem;
    margin: 0.5rem 1rem;
    border-radius: 4rem;
    background-image: $bg-color;
    h2 {
      padding: 0.25rem 0.5rem;
      margin: 0 1rem;
    }
  }
  &__ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__list {
    list-style: none;
    margin: 0 2rem;
    padding: 0 2rem;
  }
  &__link {
    text-decoration: none;
    font-size: 2rem;
    color: white;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    &:hover {
      border-bottom: 0.25rem solid white;
    }
  }
  &__blogs {
    .blogs--link {
      transition: all 0.3s ease-in-out;
      // display: block;
      color: $light-color;
      background-image: $bg-color;
      border: 0.25rem solid $light-color;
      padding: 0.5rem 2rem;
      margin: 0 1rem;
      border-radius: 2rem;
      font-size: 2rem;
      font-weight: 700;
      text-decoration: none;
      &:hover {
        border: 0.25rem solid $primary-color;
      }
    }
  }
}
// ~ Navbar ~  Responsive ~
@media screen and (max-width: 992px) {
  .navbar {
    &__list {
      margin: 0;
      padding: 0 1rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 0;
    &__ul {
      flex-direction: column;
    }
    &__list {
      text-align: center;
      margin: 1rem 0 0 0;
      padding: 0.25rem 0;
    }
    &__blogs {
      margin: 2rem 0 2rem;
      .blocks--link {
        padding: 0.25rem 2rem;
      }
    }
  }
}
//************************************//

// ~ Hero Container ~
.hero {
  display: flex;
  align-items: center;

  &__left {
    flex: 50%;
    width: 100%;
    padding: 0 6rem;
    &--title {
      font-size: 5rem;
      text-align: center;
      // text-wrap: nowrap;
      color: $dark-color;
      margin: 0 6rem 1rem 6rem;
      border-bottom: 0.5rem solid $secondary-color;
      border-radius: 2rem;
    }
    &--subtitle {
      font-size: 2.5rem;
      // font-weight: 600;
      text-align: justify;
      color: $dark-color;
    }
  }
  &__right {
    flex: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 6rem;
    align-items: center;
  }
  &__imgDiv {
    width: 100%;
  }
  &__img {
    width: 100%;

    max-height: 60rem;
    border-radius: 20px;
    border: 1rem solid $dark-color;
  }
}
// Responsive Hero
@media screen and (max-width: 992px) {
  .hero {
    flex-direction: column;
    &__left {
      margin-bottom: 4rem;
    }
  }
}
//***********************************//

// About section
.about {
  padding: 10rem 6rem;
  color: $dark-color;
}
@media screen and (max-width: 768px) {
  .about {
    padding-top: 30rem;
  }
}
.subheader__container {
  display: flex;
}
.header {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.subheader {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.line {
  width: 10rem;
  height: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: $secondary-color;
}
.sub-line {
  width: 6rem;
  height: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: $secondary-color;
}
.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.details {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: justify;
}

.info,
.skills,
.education,
.experience {
  flex: 50%;
  width: 100%;
  margin-top: 3rem;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin-top: 2rem;

  h5 {
    font-size: 1.75rem;
    // color: $light-color;
  }
  p {
    font-size: 1.75rem;
    flex-grow: 1;
    margin-left: 1rem;
    // color: $secondary-color;
  }
  input {
    margin-left: 2rem;
    flex-grow: 1;
    max-width: 30rem;
  }
}

@media screen and (max-width: 992px) {
  .subheader__container {
    flex-direction: column;
  }
  .info,
  .skills,
  .education,
  .experience {
    flex: 100%;
  }
}

.edu-items,
.exp-items {
  padding: 0 2rem;
  margin-top: 2rem;
  // border-bottom: 2px solid red;
  h5 {
    font-size: 1.75rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  h6,
  small {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }
}
.hr {
  width: 100%;
  min-width: 100px;
  max-width: 200px;
  border-radius: 10px;
  height: 0.25rem;
  margin-top: 10px;
  margin-left: 2rem;
  background-color: $primary-color;
}

@media screen and (max-width: 768px) {
}
