* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #ebf4f6;
  color: #ebf4f6;
  position: relative;
  width: 100%;
  min-width: 460px;
}

.section {
  padding-top: 10rem;
  padding-bottom: 2rem;
  width: 100%;
  min-width: 460px;
}

@media screen and (max-width: 768px) {
  .section {
    padding-top: 30rem;
  }
}
.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  border-bottom: 0.5rem solid #ebf4f6;
  background-image: linear-gradient(41deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%, rgba(31, 31, 31, 0.04) 8%, rgba(31, 31, 31, 0.04) 100%), linear-gradient(9deg, rgba(228, 228, 228, 0.04) 0%, rgba(228, 228, 228, 0.04) 62%, rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%), linear-gradient(124deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%, rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%), linear-gradient(253deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%, rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%), linear-gradient(270deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%, rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%), linear-gradient(64deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%, rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%), linear-gradient(347deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%, rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%), linear-gradient(313deg, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 20%, rgba(91, 91, 91, 0.04) 20%, rgba(91, 91, 91, 0.04) 100%), linear-gradient(90deg, rgb(10, 17, 72), rgb(35, 148, 228));
  opacity: 0.9;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.navbar__logo {
  font-size: 6rem;
  padding: 0.05rem 0.25rem;
  margin: 0.5rem 1rem;
  border-radius: 4rem;
  background-image: linear-gradient(41deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%, rgba(31, 31, 31, 0.04) 8%, rgba(31, 31, 31, 0.04) 100%), linear-gradient(9deg, rgba(228, 228, 228, 0.04) 0%, rgba(228, 228, 228, 0.04) 62%, rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%), linear-gradient(124deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%, rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%), linear-gradient(253deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%, rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%), linear-gradient(270deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%, rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%), linear-gradient(64deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%, rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%), linear-gradient(347deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%, rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%), linear-gradient(313deg, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 20%, rgba(91, 91, 91, 0.04) 20%, rgba(91, 91, 91, 0.04) 100%), linear-gradient(90deg, rgb(10, 17, 72), rgb(35, 148, 228));
}
.navbar__logo h2 {
  padding: 0.25rem 0.5rem;
  margin: 0 1rem;
}
.navbar__ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.navbar__list {
  list-style: none;
  margin: 0 2rem;
  padding: 0 2rem;
}
.navbar__link {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.navbar__link:hover {
  border-bottom: 0.25rem solid white;
}
.navbar__blogs .blogs--link {
  transition: all 0.3s ease-in-out;
  color: #ebf4f6;
  background-image: linear-gradient(41deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%, rgba(31, 31, 31, 0.04) 8%, rgba(31, 31, 31, 0.04) 100%), linear-gradient(9deg, rgba(228, 228, 228, 0.04) 0%, rgba(228, 228, 228, 0.04) 62%, rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%), linear-gradient(124deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%, rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%), linear-gradient(253deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%, rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%), linear-gradient(270deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%, rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%), linear-gradient(64deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%, rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%), linear-gradient(347deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%, rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%), linear-gradient(313deg, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 20%, rgba(91, 91, 91, 0.04) 20%, rgba(91, 91, 91, 0.04) 100%), linear-gradient(90deg, rgb(10, 17, 72), rgb(35, 148, 228));
  border: 0.25rem solid #ebf4f6;
  padding: 0.5rem 2rem;
  margin: 0 1rem;
  border-radius: 2rem;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
}
.navbar__blogs .blogs--link:hover {
  border: 0.25rem solid #37b7c3;
}

@media screen and (max-width: 992px) {
  .navbar__list {
    margin: 0;
    padding: 0 1rem;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 0;
  }
  .navbar__ul {
    flex-direction: column;
  }
  .navbar__list {
    text-align: center;
    margin: 1rem 0 0 0;
    padding: 0.25rem 0;
  }
  .navbar__blogs {
    margin: 2rem 0 2rem;
  }
  .navbar__blogs .blocks--link {
    padding: 0.25rem 2rem;
  }
}
.hero {
  display: flex;
  align-items: center;
}
.hero__left {
  flex: 50%;
  width: 100%;
  padding: 0 6rem;
}
.hero__left--title {
  font-size: 5rem;
  text-align: center;
  color: #071952;
  margin: 0 6rem 1rem 6rem;
  border-bottom: 0.5rem solid #088395;
  border-radius: 2rem;
}
.hero__left--subtitle {
  font-size: 2.5rem;
  text-align: justify;
  color: #071952;
}
.hero__right {
  flex: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 6rem;
  align-items: center;
}
.hero__imgDiv {
  width: 100%;
}
.hero__img {
  width: 100%;
  max-height: 60rem;
  border-radius: 20px;
  border: 1rem solid #071952;
}

@media screen and (max-width: 992px) {
  .hero {
    flex-direction: column;
  }
  .hero__left {
    margin-bottom: 4rem;
  }
}
.about {
  padding: 10rem 6rem 0 6rem;
  color: #071952;
}

@media screen and (max-width: 768px) {
  .about {
    padding-top: 30rem;
  }
}
.subheader__container {
  display: flex;
}

.header {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.subheader {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.line {
  width: 10rem;
  height: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: #088395;
}

.sub-line {
  width: 6rem;
  height: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: #088395;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.details {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: justify;
}

.info,
.skills,
.education,
.experience {
  flex: 50%;
  width: 100%;
  margin-top: 3rem;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin-top: 2rem;
}
.items h5 {
  font-size: 1.75rem;
}
.items p {
  font-size: 1.75rem;
  flex-grow: 1;
  margin-left: 1rem;
}
.items input {
  margin-left: 2rem;
  flex-grow: 1;
  max-width: 30rem;
}

@media screen and (max-width: 992px) {
  .subheader__container {
    flex-direction: column;
  }
  .info,
  .skills,
  .education,
  .experience {
    flex: 100%;
  }
}
.edu-items,
.exp-items {
  padding: 0 2rem;
  margin-top: 2rem;
}
.edu-items h5,
.exp-items h5 {
  font-size: 1.75rem;
  font-weight: 700;
  padding-bottom: 1rem;
}
.edu-items h6,
.edu-items small,
.exp-items h6,
.exp-items small {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.hr {
  width: 100%;
  min-width: 100px;
  max-width: 200px;
  border-radius: 10px;
  height: 0.25rem;
  margin-top: 10px;
  margin-left: 2rem;
  background-color: #37b7c3;
}

.portfolio {
  padding: 10rem 6rem 0 6rem;
  color: #071952;
}

.grid__layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.grid--box {
  margin: 2rem;
  border-left: 0.75rem solid #088395;
  border-right: 0.75rem solid #088395;
  border-radius: 2rem;
  padding: 1rem 2rem;
}
.grid--box:hover {
  border-left: 0.75rem solid #37b7c3;
  border-right: 0.75rem solid #37b7c3;
}
.grid--box .grid--links {
  display: flex;
  justify-content: space-between;
}
.grid--box a {
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
  color: #071952;
  border: 0.15rem solid #088395;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
}
.grid--box a:hover {
  background-image: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%), linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%), linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%), linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%), linear-gradient(90deg, rgb(9, 201, 186), rgb(18, 131, 221));
  color: #ebf4f6;
}

@media screen and (max-width: 992px) {
  .grid__layout {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .portfolio {
    padding-top: 30rem;
  }
  .grid__layout {
    grid-template-columns: 1fr;
  }
}
.contact {
  padding: 10rem 6rem 6rem 6rem;
  color: #071952;
}
.contact h4 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1rem;
}
.contact p {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}
.contact input,
.contact textarea {
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  margin: 1rem 0;
  font-size: 2rem;
  border: 0.25rem solid #088395;
  border-radius: 1.5rem;
  outline: none;
}
.contact form {
  padding: 2rem;
}
.contact form div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.contact .btn {
  transition: all 0.3s ease-in-out;
  color: #ebf4f6;
  background-image: linear-gradient(41deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%, rgba(31, 31, 31, 0.04) 8%, rgba(31, 31, 31, 0.04) 100%), linear-gradient(9deg, rgba(228, 228, 228, 0.04) 0%, rgba(228, 228, 228, 0.04) 62%, rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%), linear-gradient(124deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%, rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%), linear-gradient(253deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%, rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%), linear-gradient(270deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%, rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%), linear-gradient(64deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%, rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%), linear-gradient(347deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%, rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%), linear-gradient(313deg, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 20%, rgba(91, 91, 91, 0.04) 20%, rgba(91, 91, 91, 0.04) 100%), linear-gradient(90deg, rgb(10, 17, 72), rgb(35, 148, 228));
  border: 0.25rem solid #088395;
  padding: 1rem 2rem;
  margin: 0 2rem;
  border-radius: 2rem;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
}
.contact .btn:hover {
  border: 0.25rem solid #37b7c3;
}

@media screen and (max-width: 768px) {
  .contact {
    padding-top: 30rem;
  }
  .contact form div {
    flex-direction: column;
    gap: 0;
  }
}
.footer {
  width: 100%;
  height: 8rem;
  background-color: #071952;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer div {
  font-size: 3rem;
  font-weight: 700;
  color: #088395;
}
.footer i {
  font-size: 1.5rem;
  border: 0.24rem solid #ebf4f6;
  border-radius: 50%;
  color: #ebf4f6;
  padding: 0.5rem;
  margin: 1rem;
}
.footer p {
  font-size: 1.5rem;
}/*# sourceMappingURL=style.css.map */